<nav>
    <a href="/explorer" <% if (active === "explorer") { %>class="sel"<% } %>>Explorer</a>
    <a href="/saved-locations" <% if (active === "locations") { %>class="sel"<% } %>>Saved Locations</a>
    <a href="/account" <% if (active === "account") { %>class="sel"<% } %>>Account</a>
</nav>