<%- include('partials/header.ejs', {active: "account"})%>
    <% for (let i = 0; i < 5; i++) { %>
        <p>gaboduda</p>
    <% } %>
    <form action="/new-req" method="post">
        <button type="submit">Sub</button>
    </form>
<%- include('partials/footer.ejs') %>